body {
    font-family: "Gloria Hallelujah";
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

main {}

h1 {
    font-family: "Indie Flower";
}

* {
    box-sizing: border-box;
}

.nav {
    /* list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    margin: 0 auto;


}

.menu li {
    font-size: 20px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: rgb(45, 122, 216);
}

a:hover {
    color: red;
}

.footer {
    display: flex;
    /* align-items: center; */
    justify-content: center;

}

.footer img {
    margin: 10px;
}