body {
    font-family: "Gloria Hallelujah";
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
}

h1 {
    font-family: "Indie Flower";
}

* {
    box-sizing: border-box;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

li {
    display: inline-block;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
    margin: 50px;
}

a {
    text-decoration: none;
}